p {
    font-family: 'Graduate', cursive;
    font-size: 40px;
}

form {
    margin: 3%;
    /* padding: 5%; */
}

.game-container {
    margin: 5%;
    border: solid 1px black;
    display: none;
    padding-left: 15%;
    text-align: center;
    background-image: url("assets/images/wood.png");

}

h1 {
    color: blue;
}

.stats {
    display: none;
}

