body {
    
}


#collage {
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 80px;
    text-align: right;
    width: 500px;
    right: 0;
    margin-right: 5%;
}


p {
    font-family: 'Graduate', cursive;
    font-size: 40px;
}

form {
    margin: 3%;
    /* padding: 5%; */
}

.game-container {
    margin: 5%;
    border: solid 1px black;
    display: none;
    padding-left: 15%;
    text-align: center;
    background-color: goldenrod;
    position: absolute;
    top: 50px;

}

h1 {
    color: blue;
}

.stats {
    display: none;
}

