body {
    
}


#collage {
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 80px;
    text-align: right;
    width: 500px;
    right: 0;
    margin-right: 5%;
}


p {
    font-family: 'Graduate', cursive;
    font-size: 60px;
    color: navy;
}

.game-container {
    border: solid 1px black;
    display: none;
    text-align: center;
    color: white;
    background-color: #856733;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    position: absolute;
    top: 50px;
    width: 75%;
}

h1 {
    color: blue;
}

.stats {
    display: none;
}

/* .radio-pink [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}
/*Gap*/

/* .radio-pink-gap [type="radio"].with-gap:checked+label:before {
    border-color: #e91e63;
}

.radio-pink-gap [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63; */
}  
